# 字节码和缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py,cover

# 虚拟环境
# 注意：根据你创建虚拟环境的名称修改，例如 venv/ 或 env/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# 打包和分发
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 测试与代码覆盖率报告
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# 类型检查器缓存 (Mypy, Pyre, Pytype)
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook 检查点
.ipynb_checkpoints

# IDE/编辑器配置 (VSCode, PyCharm, Sublime...)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.lingma/
# 操作系统生成的文件
.DS_Store
Thumbs.db

# Celery Beat 调度文件
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
backend/celerybeat-schedule

# 敏感信息 (secrets)
*.env
secrets.ini

save/
# 模型文件

# 默认忽略 backend/models 下所有内容
backend/models/*
download_model.log

# 放行 progress_clustering
!backend/models/progress_clustering/
!backend/models/progress_clustering/**



backend/models/sentiment_bert/config.json
backend/models/sentiment_bert/model.safetensors
backend/models/sentiment_bert/special_tokens_map.json
backend/models/sentiment_bert/tokenizer_config.json
backend/models/sentiment_bert/tokenizer.json
backend/models/sentiment_bert/vocab.txt

Data_Analyze/DB/ai_exp_database_export.json
backend/celerybeat-schedule
backend/celerybeat-schedule

/backend/scripts/cleaned_grouped_data.json
/Data_Analyze/DB/for老师.json
/Data_Analyze/DB/按id分.json
sentiment_bert/